<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://archive.org/download/getting-over-it-sha-store-1.14-1741025496/Getting%20Over%20It%20-%20SHA%20Store_1.14_1741025496.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://archive.org/download/img-7215_202503/IMG_7215.jpeg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://archive.org/download/img-7215_202503/IMG_7215.jpeg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>net.Foddy.GettingOverIt</string>
				<key>bundle-version</key>
				<string>1.14</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>gettingoverit</string>
				<key>title</key>
				<string> 
Getting Over It
       
شا ستۆر گەنجینەیەک پڕ لە یاری و بەرنامە.
</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
